.profile-input__label {
  display: flex;
  justify-content: space-between;
  height: 31px;
  margin: 0 0 17px;
  padding: 0;
  color: var(--font-white-color);
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-bottom: 1px solid #424242;
}
.profile-input__input {
  margin: 0;
  padding: 0 0 16px;
  /* width: 260px; */
  color: var(--font-white-color);
  text-align: right;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  border: none;

  outline: none;
  background: transparent;
  direction: rtl;
}

.profile-input__input_edit {
  direction: ltr;
}
.profile-input__input_error {
  color: #ee3465;
}

.profile-input__label:last-child {
  border: none;
}
