.profile-page {
  margin: 0;
  padding: 144px 30px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.profile-page__title {
  margin: 0 0 80px;
  padding: 0;
  color: var(--font-white-color);
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.profile-page__title_success {
  color: green;
}
.profile-page__form {
  width: 260px;
}

.profile-page__fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.profile-page__fieldset_btn {
  margin: 345px 0 0;
}
.profile-page__container-links {
  margin: 345px 0 0;
  display: flex;
  flex-direction: column;
}
.profile-page__link-edit {
  margin: 0 auto 16px;
  padding: 0;
  color: var(--font-white-color);
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.profile-page__link-exit {
  margin: 0 auto;
  padding: 0;
  color: #ee3465;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.profile-page__fieldset {
  display: flex;
  flex-direction: column;
}
.profile-page__server-error {
  color: #ee3465;
  text-align: center;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.profile-page__submit-btn {
  margin: 20px 0 0;
  padding: 15px 0;
  width: 100%;
  border: none;
  border-radius: 3px;
  color: var(--font-white-color);
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;

  background: var(--blue-color);
}

.profile-page__submit-btn_dis {
  color: #c2c2c2;
  background: #f8f8f8;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .profile-page {
    padding: 310px 179px 269px;
  }

  .profile-page__title {
    margin: 0 0 96px;
  }

  .profile-page__form {
    width: 410px;
  }

  .profile-page__fieldset_btn {
    margin: 177px 0 0;
  }
  .profile-page__container-links {
    margin: 177px 0 0;
  }

  .profile-page__link-edit {
    font-size: 13px;
  }
  .profile-page__link-exit {
    font-size: 13px;
  }
}

@media screen and (min-width: 1280px) {
  .profile-page {
    padding: 144px 435px 70px;
  }

  .profile-page__title {
    margin: 0 0 123px;
  }

  .profile-page__form {
    width: 410px;
  }

  .profile-page__fieldset_btn {
    margin: 190px 0 0;
  }
  .profile-page__container-links {
    margin: 190px 0 0;
  }

  .profile-page__link-edit {
    font-size: 13px;
  }
  .profile-page__link-exit {
    font-size: 13px;
  }
}
