.tech-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 84px;
  height: 57px;
  border-radius: 10px;

  margin: 0;
  padding: 0;

  color: var(--font-white-color);
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.48px;
  list-style: none;
  background: var(--bright-bg-color);
}

@media screen and (min-width: 1280px) {
  .tech-item {
    width: 90px;
    height: 60px;
  }
}
