.movies {
  padding: 154px 10px 0;
  background: var(--main-bg-color);
}
.movies__search {
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .movies {
    padding: 154px 30px 0;
    background: var(--main-bg-color);
  }
  .movies__search {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 1280px) {
  .movies {
    padding: 144px 70px 0;
    background: var(--main-bg-color);
  }
  .movies__search {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
