.footer-link {
  margin: 0;
  padding: 0;
  list-style: none;
}
.footer-link__link {
  margin: 0;
  padding: 0;
  text-decoration: none;

  color: var(--font-white-color);
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .footer-link__link {
    font-size: 13px;
  }
}

@media screen and (min-width: 1280px) {
  .footer-link__link {
    font-size: 13px;
  }
}
