.account {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 3px 0 11px;
  color: var(--font-white-color);
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 12px;
  background: transparent;
  border-radius: 40px;
  box-shadow: 0px 3px 14px 0px rgba(0, 0, 0, 0.08);
}
.account__img {
  background: #313131 url(../../images/account-icon.svg) center no-repeat;
  margin: 0 0 0 7px;
  width: 26px;
  height: 26px;
  border-radius: 50px;
}
