.search-form {
  margin: 0;
  padding: 19px;
  border-radius: 9px;
  background: #2f2f2f;

  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--footer-font-color);
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  border: none;
}

.search-form__fieldset {
  border: none;
  outline: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.search-form__input {
  padding: 0;
  color: var(--font-white-color);
  height: 22px;
  background: transparent;
  outline: none;
  border: 0;
  width: 100%;
}

/* .search-form__input:-webkit-autofill {
  background: #2f2f2f !important;
} */
.search-form__submit {
  margin: 0;
  padding: 8px 12px;

  width: 58.65px;
  height: 34px;

  color: var(--font-white-color);
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 163.636% */

  border-radius: 48px;
  background: #4285f4;
  outline: none;
  border: 0;
}
.search-form__img {
  margin-right: 10px;
  justify-self: start;
  width: 34px;
  height: 34px;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .search-form {
    border-radius: 9px 0 0 9px;
    flex-grow: 1;
    padding: 19px 0 19px 19px;
  }
  .search-form__input {
    font-size: 18px;
    line-height: 20px;
  }

  .search-form__fieldset {
    border-right: 1px solid #505050;
  }
  .search-form__submit {
    margin-right: 18px;
  }
}

@media screen and (min-width: 1280px) {
  .search-form {
    border-radius: 9px 0 0 9px;
    flex-grow: 1;
    padding: 19px 0 19px 19px;
  }
  .search-form__input {
    font-size: 18px;
    line-height: 20px;
  }

  .search-form__fieldset {
    border-right: 1px solid #505050;
  }
  .search-form__submit {
    margin-right: 30px;
  }
}
